<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=1" name="viewport" />
    <meta name="csrf-token" content="9lAQ9v0tBPSMWpR2RcOqZVORMNWO1SmGPL6iqTxv">
    <!-- Fonts-->

    {%load static %}

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;amp;subset=latin-ext" rel="stylesheet" type="text/css">
    <!-- CSS Library-->
    <title>Caplet</title>
    <link media="all" type="text/css" rel="stylesheet" href="{% static 'css/demo.css'%}">
    <link media="all" type="text/css" rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link media="all" type="text/css" rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
    <link media="all" type="text/css" rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">
    <link media="all" type="text/css" rel="stylesheet" href="{%static 'css/lightgallery.min.css'%}">
    <link media="all" type="text/css" rel="stylesheet" href="{%static 'css/fontawesome-stars.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link media="all" type="text/css" rel="stylesheet" href="{%static 'css/style.css'%}">
    <link media="all" type="text/css" rel="stylesheet" href="{%static 'css/style.integration.css'%}">
</head>


<header class="header header--1" data-sticky="true">
    <div class="header__top">
        <div class="ps-container">
            <div class="header__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Department</span></div>
                    <div class="menu__content" style="display: none">
                        <ul class="menu--dropdown">
                            <li class="menu-item-has-children has-mega-menu">
                                <a href="#"> <i class=""></i> electronic Ai products</a>
                                <span class="sub-toggle"></span>
                                <div class="mega-menu">
                                    <div class="mega-menu__column">
                                        <a href="#">car gps tracker device</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#"> <i class="icon-star"></i> Hot Promotions</a>
                            </li>
                            <li class="menu-item-has-children has-mega-menu">
                                <a href="#"> <i class="icon-laundry"></i> Electronics</a>
                                <span class="sub-toggle"></span>
                                <div class="mega-menu">
                                    <div class="mega-menu__column">
                                        <a href="#">
                                            <h4>Consumer Electronic<span class="sub-toggle"></span></h4>
                                        </a>
                                        <ul class="mega-menu__list">
                                            <li><a href="#">Home Audio &amp; Theaters</a></li>
                                            <li><a href="#">TV &amp; Videos</a></li>
                                            <li><a href="#">Camera, Photos &amp; Videos</a></li>
                                            <li><a href="#">Cellphones &amp; Accessories</a></li>
                                            <li><a href="#">Headphones</a></li>
                                            <li><a href="#">Videos games</a></li>
                                            <li><a href="#">Wireless Speakers</a></li>
                                            <li><a href="#">Office Electronic</a></li>
                                        </ul>
                                    </div>
                                    <div class="mega-menu__column">
                                        <a href="#">
                                            <h4>Accessories &amp; Parts<span class="sub-toggle"></span></h4>
                                        </a>
                                        <ul class="mega-menu__list">
                                            <li><a href="#">Digital Cables</a></li>
                                            <li><a href="#">Audio &amp; Video Cables</a></li>
                                            <li><a href="#">Batteries</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#"> <i class="icon-shirt"></i> Clothing</a>
                            </li>
                            <li class="menu-item-has-children has-mega-menu">
                                <a href="#"> <i class="icon-desktop"></i> Computers</a>
                                <span class="sub-toggle"></span>
                                <div class="mega-menu">
                                    <div class="mega-menu__column">
                                        <a href="#">
                                            <h4>Computer &amp; Technologies<span class="sub-toggle"></span></h4>
                                        </a>
                                        <ul class="mega-menu__list">
                                            <li><a href="#">Computer &amp; Tablets</a></li>
                                            <li><a href="#">Laptop</a></li>
                                            <li><a href="#">Monitors</a></li>
                                            <li><a href="#">Computer Components</a></li>
                                        </ul>
                                    </div>
                                    <div class="mega-menu__column">
                                        <a href="#">
                                            <h4>Networking<span class="sub-toggle"></span></h4>
                                        </a>
                                        <ul class="mega-menu__list">
                                            <li><a href="#">Drive &amp; Storages</a></li>
                                            <li><a href="#">Gaming Laptop</a></li>
                                            <li><a href="#">Security &amp; Protection</a></li>
                                            <li><a href="#">Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <a class="ps-logo" href="{% url 'app_website:index' %}"><img src="{% static 'images/logo.png'%}" alt="Welmetic- Best Marketplace to sell your product online" height="60"></a>
            </div>
            <div class="header__center">
                <form class="ps-form--quick-search" action="" data-ajax-url="" method="get">
                    <div class="form-group--icon">
                        <div class="product-cat-label">All <i class="fas fa-angle-down"></i></div>
                        <select class="form-control product-category-select" name="categories[]">
                                    <option value="0">All</option>
                                    <option class="level-0">Health &amp; Beauty</option>
                                    <option class="level-0">Shoes</option>
                                    <option class="level-0">Jewelry &amp; Watch</option>
                                    <option class="level-0">Technology Toys</option>
                                </select>
                    </div>
                    <input class="form-control" name="q" type="text" placeholder="Search Products...." id="input-search" autocomplete="off">
                    <div class="spinner-icon">
                        <i class="fa fa-spin fa-spinner"></i>
                    </div>
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="header__right">
                <div class="header__actions">
                    <a class="header__extra btn-wishlist" href="#"><i class="far fa-heart"></i><span><i>0</i></span></a>
                    <div class="ps-cart--mini">
                        <div onClick="cart()" class="header__extra btn-shopping-cart"><i class="fas fa-cart-arrow-down"></i><span><i class="cart_count"></i></span></div>
                    </div>
                    <div class="dropdown">
                        <a class="header__extra btn-wishlist dropdown-toggle" href="#" data-toggle="dropdown"><i class="far fa-user"></i></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'app_website:login' %}">Login</a> {% if session != None %}
                            <a class="dropdown-item" href="{% url 'app_website:logout' %}">Logout</a> {% endif %}
                            <!-- <a class="dropdown-item" href="{% url 'app_website:register' %}">Register</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="header__right">
                        <div class="header__actions">
                            <a class="header__extra btn-wishlist" href="#"><i class="far fa-heart"></i><span><i>0</i></span></a>
                            <div class="ps-cart--mini">
                                <a class="header__extra btn-shopping-cart" href="#"><i class="fas fa-cart-arrow-down"></i><span><i>0</i></span></a>
                            </div>
                        </div>
                    </div> -->
        </div>
    </div>
    <nav class="navigation">
        <div class="ps-container">
            <div class="navigation__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle"><i class="fas fa-bars"></i><span> Shop by Department</span></div>
                    <div class="menu__content" style="display: none">
                        {% if categories %}
                        <ul class="menu--dropdown">
                            {% for category in categories %}
                            <li class="menu-item-has-children has-mega-menu">
                            
                                <a href="{{ category.get_absolute_url }}"><img src="{% static 'photos/category/adult.webp' %}" style="width:20px;padding-right: 10px;">{{category.category_name}}</a>
                                <div class="mega-menu">
                                    {% for i in category.subcategory_set.all %}
                                    <div class="mega-menu__column">
                                        <h4><a href="#">{{i.name}}</a></h4>
                                        {% for j in i.childcategory_set.all %}
                                        <ul class="mega-menu__list">
                                            <li><a href="#">{{j.name}}</a></li>
                                        </ul>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="navigation__right">
                <ul class="menu  ml-auto">
                    <li class=""><a href="#">Home</a></li>
                    <li class=""><a href="#">About Us</a></li>
                    <li class=" menu-item-has-children current-menu-item"><a href="#"> Shop  <i class="fas fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li class="current-menu-item"><a href="#"> All products</a></li>
                            <li class=""><a href="#"> Products Of Category</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="#"> Blog</a></li>
                    <li class=""><a href="{% url 'app_website:contact' %}">Contact</a></li>
                </ul>
                <ul class="navigation__extra ml-auto">
                    <li><a href="#">Sell On  Welmatic </a></li>
                    <li><a href="#">Track your order</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>

    {% block content %} {% endblock %}



    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'js/backend.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>


<script>
    var session = "{{session}}"



    function cart() {

        if (session == 'None') {
            alert('Login first to check cart.')
        } else
        if (session != '') {
            var url = "{% url 'app_website:cart' session %}"

            document.location.href = url
        }

    }

    var intervalId = window.setInterval(function() {
        $.ajax({
            url: '/cart_count',
            type: 'POST',
            data: {
                'buyer_mobile': session,
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: function(data) {
                var count = data.count
                $('.cart_count').text(count)
            }
        })
    }, 1000);
</script>